body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CopperPot";
  src: local("CopperPot"),
   url( './assets/fonts/copperpot-700.woff2' ) format( 'truetype' );
  font-weight: bold;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url( './assets/fonts/sourcesanspro-700.woff2' ) format( 'truetype' );
  font-weight: bold;
}