@use 'landingPage';
@use 'card';
@use 'home';
@use 'navBar';
@use 'paginate';
@use 'createRecipe';
@use 'mixinsfunc';

body {
    @include mixinsfunc.create-font-default;

    min-height: 100vh;
    color: rgba(0,0,0,.95);
    background: {
        color: #fff;
        image: url( '../assets/images/food-pattern.jpg' );
        size: 220px;
    }
}

h1 {
    font-family: CopperPot,Helvetica,sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    line-height: 2rem;
    margin: 5px 0 0 0;
    text-transform: capitalize;
}

h3 {
    @include mixinsfunc.create-link;

    font-family: CopperPot,Helvetica,sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    line-height: 2rem;
    margin: 5px 0 0 0;

    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
}

input, select {
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    outline: 0;
    border-right: 0;
    border-radius: 0;
    border-color: rgba(0,0,0,.65);
    padding: 0.75rem 1rem;
    border: 1px solid rgba(0,0,0,.65);
}

.falseNavBar {
    height: 95px;
}